/* Contenedor del carrito fijo a la derecha */
.carrito-container {
  position: absolute; /* Fijo el carrito en la pantalla.*/
  top: 2.5em; /* Ajusto la distancia desde la parte superior de la pantalla */
  right: 5em; /* Ajusto la distancia desde la parte derecha */
  width: 100%; /* Ancho del carrito */
  padding: 20px;
  background-color: rgba(255, 255, 255, 255);
  border: 10%;
  box-sizing: border-box;
  border-radius: 5%;
}

/* Lista de productos en el carrito */
.carrito .list-group {
  display: block;
}

.carrito-list .carrito-item {
  display: block;
  margin-left: 0;

  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  margin-bottom: 10px;
}

/* Cabecera del carrito */
.carrito-header {
  text-align: left;
  color: brown;
  margin: 0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 255);
  width: 100%;
}
.carrito-body {
  background-color: rgba(255, 255, 255, 255);
}

/*contenedo de orden y precio*/
.carrito-total,
.carrito-precio {
  display: inline;
  margin-right: 1em;
}
.carrito-total {
  font-size: 15px;
}

.carrito-cantidades {
  display: inline;
}
